.basic-form div.rowContainer{
	clear:both;
}
.basic-form div.label{
	float:left;
	width:14%;
	text-align:right;
	padding:3px;
	border: 0px none;
}
.basic-form div.fieldContainer{
	padding:1px;	
	float:left;
	width:25%;
}
.basic-form div.fieldContainerWide{
	float:left;
	width:75%;
	padding:1px;
}
label{
	float: left; 
}
label.error{ 
	float: none; 
	color: red;
	display: block;
	padding-left: .5em; 
	vertical-align: top; 
}
select.error, input.error{
	border: 2px solid;
    color: red;
}
.titleCellAutoWidth{
	width:auto;	
}

input.smallTextfield{
	width:100px;
}