.basic-form div.rowContainer{
	clear:both;
}
.basic-form div.label{
	font-family:Verdana, Arial;
	font-weight:bold;
	font-size:10px;
	float:left;
	width:14%;
	text-align:right;
	padding:3px;
	border: 0px none;
}
.basic-form div.labelRequired{
	font-family:Verdana, Arial;
	font-weight:bold;
	font-size:10px;
	float:left;
	width:13%;
	text-align:right;
	padding:3px;
	border: 0px none;
	color: #AA0000;
}
.basic-form div.fieldContainer{
	padding:1px;	
	float:left;
	width:25%;
}
.basic-form div.fieldContainerWide{
	float:left;
	width:75%;
	padding:1px;
}
label{
	float: left; 
}
label.error{ 
	float: none; 
	color: red;
	display: block;
	padding-left: .5em; 
	vertical-align: top; 
}
select.error, input.error{
	border: 2px solid;
    color: red;
}
.titleCellAutoWidth{
	width:auto;	
}

input.smallTextfield{
	width:100px;
}
input.subMenuButton, .smallSubmit{
	cursor: pointer;
}

div.reportPanel{
	font-size: 11px;	
}

/* Navigation control panel */
.button-bar {
font-size: 10px;
background-color: #ffffff;
height: 1%; /* IE fix */
margin-bottom: 1.0em;
padding-top: 0.4em;
}

.button-bar ul,
.tabContainer ul {
display: inline; /* IE Fix */
list-style: none;
}

.button-bar ul li,
.tabContainer ul li {
float: left;
font-weight: bold;
padding: 0.1em 0.4em 0.1em 0.4em;
}

.button-bar ul a,
.tabContainer ul a {
display: block;
}

.button-bar ul a,
.tabContainer ul a,
.button-bar a {
padding: 0.1em 0.5em 0.1em 0.5em;
white-space: nowrap;
color: #000099;
}
